@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #eaeaea
}
*{
  transition: background-color 0.3s ease-out;
}

.dark {
    --background: #0a0a0a !important;
    --foreground: #ededed !important;
    --primary: #333;
  }

  /* @layer base{
    * {
      @apply transition-all duration-200 ease-in-out;
    }
  } */


@layer components {
  .value-wrapper {
    @apply flex gap-2 items-center;
  }
  .value-wrapper > .value{
    @apply text-base font-thin;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.scroll-container{
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-container::-webkit-scrollbar{
  display: none;
}